[Unit]
Description=HedgeDoc - The best platform to write and share markdown.
Documentation=https://docs.hedgedoc.org/
After=network.target
{% if hedgedoc_cfg[hedgedoc_mode]['db']['host'] | default('localhost') in ['localhost', '127.0.0.1'] -%}
{% if hedgedoc_cfg[hedgedoc_mode]['db']['dialect'] == 'mariadb' -%}
After=mariadb.service
{% elif hedgedoc_cfg[hedgedoc_mode]['db']['dialect'] == 'mysql' -%}
After=mysql.service
{% elif hedgedoc_cfg[hedgedoc_mode]['db']['dialect'] == 'postgres' -%}
After=postgresql.service
{% endif %}
{% endif %}

[Service]
Environment=NODE_ENV={{ hedgedoc_mode}}
User={{ hedgedoc_user }}
Group={{ hedgedoc_user }}
WorkingDirectory={{ hedgedoc_home }}
ReadWritePaths={{ hedgedoc_home }}/public/uploads
ExecStart=/usr/bin/yarn start --{{ hedgedoc_mode}}
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
