[Unit]
Description=HedgeDoc - The best platform to write and share markdown.
Documentation=https://docs.hedgedoc.org/
After=network.target
{% if hedgedoc_cfg[hedgedoc_mode]['db']['host'] | default('localhost') in ['localhost', '127.0.0.1'] -%}
{% if hedgedoc_cfg[hedgedoc_mode]['db']['dialect'] == 'mariadb' -%}
After=mariadb.service
{% elif hedgedoc_cfg[hedgedoc_mode]['db']['dialect'] == 'mysql' -%}
After=mysql.service
{% elif hedgedoc_cfg[hedgedoc_mode]['db']['dialect'] == 'postgres' -%}
After=postgresql.service
{% endif %}
{% endif %}

[Service]
Type=exec
Environment=NODE_ENV={{ hedgedoc_mode }}
User={{ hedgedoc_user }}
Group={{ hedgedoc_group }}
WorkingDirectory={{ hedgedoc_root }}
ExecStart=/usr/bin/yarn start
Restart=always
RestartSec=2s
CapabilityBoundingSet=
NoNewPrivileges=true
PrivateDevices=true
RemoveIPC=true
LockPersonality=true
ProtectControlGroups=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectClock=true
ProtectHostname=true
ProtectProc=noaccess
RestrictRealtime=true
RestrictSUIDSGID=true
RestrictNamespaces=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
PrivateTmp=true
# ProtectHome=true
# ProtectSystem=strict
SystemCallArchitectures=native
SystemCallFilter=@system-service

ReadWritePaths={{ hedgedoc_upload_dir }}

[Install]
WantedBy=multi-user.target
